// import list
@import "./base/colors";
@import "./base/typography";
@import "./components/btn";
@import "./components/card";
@import "./components/icon";
@import "./layout/banner";
@import "./layout/header";
@import "./layout/menu";
@import "./layout/footer";
@import "./pages/index";
@import "./utils/btneffect";
@import "./utils/delay_appear";
@import "./utils/loadspinner";
@import "./utils/iconeffect";
@import "./utils/mixin";

// rules on wide document

body {
  @include flex-column;  
  @media screen and (min-width: 1280px) {
    @include desktop;
  }
}
a {
    text-decoration: none;
}



//-- Media query mobile part--//
// $breakpoints-mobile: (
//   mobile: 599px
// );

// @mixin mobile-only {
//     @media screen and (max-width: map-get($breakpoints-mobile, mobile)){
//               @content
//           };
// };
// -- Media  query Desktop part --//
// $breakpoints: (
//   desktop: 1099px
// );

// @mixin desktop-only {
//     @media screen and (min-width: map-get($breakpoints, desktop)) {
//               @content 
//     } 
// }