.banner {
    img {
        width: 100%;
        height: 220px;
        object-fit: cover;
        z-index: 0;
        @media screen and (min-width: 1280px)  and (max-width: 1799px){
            height: 320px;
            width: 100%;
        }
        @include screen-xxl {
            height: 520px;
            width: 100%;
        }
    }
}