//  --local mixin
@mixin backfoot {
    height: auto;
    margin-left: 0;
    margin-right: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    border-radius: $size-radius $size-radius 0 0;
}

@mixin landfoot {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 2em;
}

//  --footer part
footer {
    background-color: $dark-grey;
    color: white;
    height: auto;
    padding-bottom: 10px;
    @include screen-tablet {
        @include backfoot;
    }
    @include screen-device {
        @include backfoot;
    }
    @include screen-usual {
        @include backfoot;
    }
    @include screen-max {
        @include backfoot;
    }
    @include screen-xxl {
        @include backfoot;
        padding-bottom: 25px;
    }

    h2 {
        font-family: $shrikland;
        font-size: 1.2em;
        margin: 20px 5px 0 40px;
        @include screen-device {
            font-size: 2em;
        } 
        @include screen-usual {
            font-size: 2.2em;
        }
        @include screen-max {
            font-size: 2.5em;
        }
        @include screen-xxl {
            font-size: 2.5em;
        }
    }
    ul {
        text-decoration: none;
        list-style: none;
        margin: 10px 5px 0 0px;
        font-size: 1.1em;
        li {
            padding-bottom: 8px;
            padding-top: 8px;
        }
        li i {
            padding-right: 27.5px;
        }
        li a {
            margin-bottom: 10px;
            color: white;
        } 
        @include screen-tablet {
            @include landfoot;
        }
        @include screen-device {
            @include landfoot;
        }
        @include screen-usual {
            @include landfoot;
        }
        @include screen-max {
            @include landfoot;
        } 
        @include screen-xxl {
            @include landfoot;
        }
    }
}