// header wide document
#blurpart header {
    background: $soft-grey;
    padding: 10px 0 10px 0;
    img {
        width: 200px;
    }
}

// --local mixin
@mixin head-background {
    border-radius: $size-radius $size-radius 0 0;
    padding-top: 30px;
    padding-bottom: 30px;
}
@mixin logo-sized {
    width: $logo-size * 2.25;
}

// --header
header {
    display: flex;
    flex-direction: row;
    background: $soft-grey;
    justify-items: center;
    justify-content: center;
    padding: 10px 0 10px 0;
    @include blur-shadow($grey);
    margin-bottom: 0.2em;
    @include screen-tablet {
        @include head-background;
    }
    @include screen-usual {
        @include head-background;
    }
    @include screen-max {
        @include head-background;
    }
    @include screen-xxl {
        @include head-background;
    }
    img {
        width: $logo-size;
        order: 2;
        @include screen-tablet {
            @include logo-sized;
        }
        @include screen-usual {
            @include logo-sized;
        }
        @include screen-max {
            @include logo-sized;
        }
        @include screen-xxl {
            @include logo-sized;
        }
           
    }
    a {
        position: absolute;
        left: 20px;
        font-size: 2em;
        color: $dark-grey;
        order: 1;
        @include screen-tablet {
            font-size: 4em;
        }
        @include screen-usual {
            font-size: 4em;
        }
        @include screen-max {
            font-size: 4em;
        }   
        @include screen-xxl {
            font-size: 4em;
        }   
    }
    a :hover {
        color: $tertiary;
    }
}

