// --banner part 
.banner {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 5vh;
}

// --menu part
@mixin  flex-center {
    display: flex;
    margin-top: 200px;
    justify-items: center; 
}

// --local mixin
@mixin flex-title  {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    margin-left: $margin-size * 4;
}
.menu {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-top: 22px;
    z-index: 1;
    background: $soft-grey;
    border-radius :  35px 35px 0 0;
    padding-bottom: 130px;
    margin-top: 150px;
    @include screen-tablet {
        @include flex-center;
    }
    @include screen-usual {
       @include flex-center;
    }
    @include screen-max {
        @include flex-center;
    }
    @include screen-xxl {
        margin-top: 350px;
    }
    .head {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        @include screen-tablet {
            @include flex-title;
        }
        @include screen-usual {
           @include flex-title;
        }
        @include screen-max {
            @include flex-title;
        }
        @include screen-xxl {
            justify-content: space-evenly;
        }
        h2 {
            font-family: $shrikland;
            font-size: 1.7rem;
            letter-spacing: .01rem;
            @media screen and (min-width: 1024px) {
                font-size: 2.7rem;  
            }
            @include screen-min {
                font-size: 1.5em;
            }
            @include screen-xxl {
                font-size: 6em;
                margin-top: 50px;
                margin-left: -500px;
            }
        }
        .heart {
            font-size: 1.3rem;
            left: 10px;  
            top: 25px; 
            @media screen and (min-width: 1024px) and (max-width: 1799px) {
                font-size: 6em; 
                left: 100px;  
                top: 45px;          
            }
            @include screen-xxl {
                font-size: 15em;
                right: 1800px;  
                top: 95px;   
            }    
            h2 {
                font-family: $shrikland;
                font-size: 1.7em;
                letter-spacing: .01em;
                margin-left: 20px;
            }
        }
    }
    .courses {
        display: flex;
        flex-direction: column;
        @media screen and (min-width: 1024px) {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        .start, .main, .dessert {
            margin-bottom: $margin-size * 2.5;
            display: flex;
            flex-direction: column;   
            h3 {
                font-size: 1em;
                font-weight: lighter;
                display: block;
                margin-left: $margin-size * 2;
                text-transform: uppercase;
                @include screen-xxl {
                    font-size: 2.5em;
                }
            }
            h3:after {
                display: block;
                clear: both;
                content : "";
                position: relative;
                left: 0;
                top: 3px;
                width: 11.5%;
                border-bottom: 2px solid $tertiary;
            }
            ul {
                display: flex;
                align-self: center;
                padding-left: 0;
                margin-top: -10px;
                cursor: pointer;
                li {
                    margin-bottom: 10px;
                }
            }
        }
    }
    a {
        align-self: center;
    }    
}

    