//  --button part with hover effect
.btn-confirm {
    width: 170px;
    height: $circle-built * 2;
    border: 1px solid $primary;
    color: white;
    @include purple-shade($primary, $secondary);
    padding: $margin-size;
    border-radius: $size-radius * 2;
    @include light-shadow($grey);
    font-size: 1.3em;
    text-align: center;
    line-height: $circle-built * 2;
    &__large {
        width: 220px;
        height: $circle-built * 2;
        font-size: 1em;
    }
    &:hover {
        @include purple-lighter;
        border: none;
        @include shadow(grey);
    }
}
