@import "../utils/mixin";
// --local mixin 
@mixin desktop-resize_card {
    width: $list-width * 1.4;
    height: $list-height * 1.4;
    margin-bottom: $margin-size * 4;
}
@mixin desktop-resize_circle {
    width: $circle-built * 2;
    height: $circle-built * 2;
    line-height: $circle-built * 2;
    margin-left: $margin-size * -8;
    font-size: $card-fontsize * 1.1;
}
@mixin destop-resize_element {
    font-size: $card-fontsize * 1.6;
}

@mixin desktop-resize_elementp {
    font-size: $card-fontsize;
}

// --card part
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 5px;
    &__option {
        display: flex;
        margin-top: $margin-size;
        @include shadow($grey);
    }
    &__list {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background: $soft-grey;
        margin-top: $margin-size;
        margin-bottom: $margin-size;
        width: $list-width;
        height: $list-height;
        border-radius: $size-radius * 2;
        @include screen-min {
            width: $list-width / 1.1;
            height: $list-height / 1.1;
        }
        @include screen-tablet {
            margin-bottom: $margin-size * 8;
        } 
        
        @include screen-usual { 
            @include desktop-resize_card;
            margin-bottom: $margin-size * 4;
            margin-bottom: $margin-size * 7;  
        }
        @include screen-max {
            @include desktop-resize_card;
            margin-bottom: $margin-size * 7;
            margin-left: $margin-size;
        }
        @include screen-xxl {
            width: $list-width * 2;
            height: $list-height * 2;
            margin-bottom: $margin-size * 7;
            margin-left: $margin-size;
        }
        span {
            color: white;
            width: $circle-built;
            height: $circle-built;
            background: $primary;
            border-radius: 50%;
            margin-left: $margin-size * -5.5;
            text-align: center;
            line-height: $circle-built;
            @include screen-min {
                width: $circle-built / 1.2;
                height: $circle-built / 1.2;
                line-height: $circle-built / 1.1;
                margin-left: $margin-size * - 2;
            }
            @include screen-usual {
                @include desktop-resize_circle;
            }
            @include screen-max {
                @include desktop-resize_circle;
            }
            @include screen-xxl {
                width: $circle-built * 3;
                height: $circle-built * 3;
                line-height: $circle-built * 3;
                margin-left: $margin-size * -11;
                font-size: $card-fontsize * 1.5;
            }
        }
        i {
            font-size: $card-fontsize;
            color: $grey;
            margin-left: $margin-size * -2;
            @include screen-min {
                font-size: $card-fontsize / 1.2;
                margin-left: $margin-size;
            }
            @include screen-usual {
                @include destop-resize_element;
            }
            @include screen-max {
                @include destop-resize_element;
            }
            @include screen-xxl {
                font-size: $card-fontsize * 2;
            }    
        }
        p {
            align-self: center;  
            font-weight: bold;
            @include screen-min {
                font-size: $card-fontsize / 1.2;
                margin-left: $margin-size;
            }
            @include screen-usual {
                @include desktop-resize_elementp;
            } 
            @include screen-max {
                @include desktop-resize_elementp;
            } 
            @include screen-xxl {
                font-size: $card-fontsize * 1.5;
            } 
        }
    }
    &__choice {
        background: white;
        width: 344px;
        height: 68px;
        border-radius: 15px;
        position: relative;
        cursor: pointer;
        display: flex;
        @include screen-min {
            width: 300px;
        }
        @include screen-tablet {
            width: 300px;
        }
        @include screen-xxl {
            width: 650px;
            height: 150px;
        }
        h4 {
            font-weight: bold;
            position: absolute;
            font-size: 1.2em;
            bottom: $margin-size;
            left: 15px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            @include screen-min {
                font-size: 1em;
            }
            @include screen-tablet {
                font-size: 1em;
            }
            @include screen-xxl {
                font-size: $card-fontsize * 1.5;
                line-height: 90px;
            }
        }
        p {
            font-size: .9em;
            font-weight: lighter;
            position: absolute;
            top: 22.5px;
            left: 15px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            @include screen-min {
                font-size: .8em;
            }
            @include screen-tablet {
                font-size: .8em;
            }
            @include screen-xxl {
                font-size: $card-fontsize * 1.2;
                top: 50px;
                left: 15px;
            }
        }
        span {
            border-radius: 25px;
            font-weight: bold;
            position: absolute;
            top: 35px;
            right: 15px;
            @include screen-xxl {
                font-size: $card-fontsize * 1.5;
                line-height: 110px;
                right: 25px;
            }
        }
        .checked {
            position:absolute;
            right: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 0 15px 15px 0;
            opacity: 0;
            padding: 0px;
            background-color: transparent;
            height: 68px;
            width: 0px;
            @include screen-xxl {
                width: 0;
                right: 0;
            }
        }
    }
}

.restaurant {
    &__card {
        overflow: hidden;
        background: white;
        width: $restaurant-width;
        @include shadow($grey);
        border-radius: 25px;
        color: black;
        position: relative;
        @include screen-min {
            width: $restaurant-width / 1.25;
        }
        @include screen-device {
            width: $restaurant-width / 1.2;
        }
        @include screen-tablet {
            width: $restaurant-width / 1.25;
        }
        @include screen-usual {
            width: $restaurant-width / 1.15;
        }
        @include screen-max {
            width: $restaurant-width;
        }
        @include screen-xxl {
            width: $restaurant-width * 1.5;
        }
        img {
            height: $restaurant-pic;
            @include screen-device {
                height: $restaurant-pic / 1.2;
            }
            @include screen-xxl {
                height: $restaurant-pic * 1.2;
            }
            width: 100%;
            object-fit: cover;
        }
        span {
            font-weight: bold;
            color: $tertiary-shade;
            background: $tertiary;
            padding: $margin-size;
            position: absolute;
            right: 12px;
            top: 20px;
            @include shadow($grey);
            @include screen-xxl {
                font-size: $card-fontsize * 1.2;
            }
        }
        h3 {
            font-size: $card-fontsize;
            font-weight: bold;
            margin: 8px 0 0 $margin-size;
            @include screen-xxl {
                font-size: $card-fontsize * 1.7;
            }
        }
        p {
            font-size: 1.1em;
            font-weight: lighter;
            margin: 4px 0 18px $margin-size;
            @include screen-xxl {
                font-size: 1.8em;
            }
        }
        .heart {
            position: absolute;
            top: 200px;
            right: 20px;
            @include screen-device {
                top: 250px;
                right: 20px;
            }
            @include screen-xxl {
                top: 250px;
                right: 20px;
            }
        }    
    }
}



