// --local mixin 
@mixin heartrules {
  position: absolute;
  right: 10px;
  font-size: $size-heart;
}

// --icon from font 
.heart {
  position: relative;
  .far {
    color: $dark-grey;
    font-size: $size-heart;
    @include screen-xxl {
      font-size: $size-heart * 1.7;
  }
    opacity: 1;
    @include heartrules;
  }
  .fas {
    opacity: 0;
    @include heartrules;
    @include screen-xxl {
      font-size: $size-heart * 1.7;
  }
  }
}