// --Color base
$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$grey: #7E7E7E;
$grey-shade: #EAEAEA;
$soft-grey: #F6F6F6;
$dark-grey: #353535;
$primary-shade: #F5C9FF;
$tertiary-shade: #139273;

// --Color shades
@mixin gradient-grey($tertiary, $dark-grey) {
    color: linear-gradient(170deg $dark-grey, 56% $tertiary, 10%)
}

// --box-shadow mixin
@mixin lighter-shadow($soft-grey) {
   box-shadow: 1.95px 1.95px 13px $soft-grey;
}

@mixin light-shadow($grey) {
    box-shadow: 1.95px 1.95px 13px $grey;
}

@mixin shadow($grey) {
    box-shadow: 4px 4px 6px 1px $grey;
} 

@mixin deep-shadow($grey) {
    box-shadow: 4px 4px 4px 2px $grey;
} 

@mixin blur-shadow($dark-grey) {
    box-shadow: 0px 12px 10px -10px black;
}


// --background mixin
@mixin purple-shade($primary, $secondary) {
    background: linear-gradient(170deg, $secondary 10%, $primary 76%);
}
@mixin purple-lighter {
    background: linear-gradient(170deg, lighten($secondary,10%) 10%, lighten($primary, 10%) 76%);
}