@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

//  --font part
$shrikland:'Shrikhand', cursive;
$roboto: 'Roboto', sans-serif;

// --breakpoints and mobile's size
$screen-min: 374px;
$screen-phablet: 768px;
$screen-tablet: 1024px;
$screen-desktop: 1440px;
$screen-hight: 1800px;

// --base size to elements 
$size-heart: 30px;
$size-radius: 12.5px;
$circle-built: 25px;
$span-left: -12px;
$margin-size: 10px;
$p-left: 85px;
$card-fontsize: 1.4em;
$card-left: 45px;
$card-top: 28px;
$list-width: 320px;
$list-height: 72.5px;
$restaurant-width: 346px;
$restaurant-pic: 180px;
$logo-size: 200px;