// --import list
@import "../layout/header";
@import "../layout/footer";
@import "../base/colors";
@import "../components/icon";
@import "../components/btn";
@import "../utils/loadspinner";
@import "../utils/mixin";

//--body part
body {
    z-index: -1;
    position: relative;
}
// loader part
#loading {
    position: relative;
    display: flex;
    justify-content: center;
}

// --main part
main {
    @include flex-column;
    font-family: $roboto;
    z-index: 0;
    h2 {
        text-align: left;
        color: black;
    }
}

// --find a restaurant
#find-restaurant {
    background-color: $soft-grey;
    @include flex-column;
    height: auto;
    width: 100%;
    text-align: center;
    align-items: center;
    padding-bottom: $margin-size * 2;
    @include screen-tablet {
        border-radius: 0 0 $size-radius $size-radius;
        padding-bottom: $margin-size * 4.5;
    }
    @include screen-usual {
        border-radius: 0 0 $size-radius $size-radius;
        padding-bottom: $margin-size * 4.5;
    }
    @include screen-device {
        border-radius: 0 0 $size-radius $size-radius;
        padding-bottom: $margin-size * 2.5;
    }
    @include screen-xxl {
        border-radius: 0 0 $size-radius $size-radius;
        padding-bottom: $margin-size * 4.5;
    }
    p {
        font-size: 1.1em;
        padding-top: $margin-size / 5;
        margin-top: $margin-size / 2;
        margin-bottom: $margin-size * 2.5;
        font-weight: lighter;
        @include screen-xxl {
            font-size: 2em;
        }
    }
}
#search-restaurant {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $soft-grey;
    color: $dark-grey;
    margin: 30px 0 10px 0;
    i {
        color: $dark-grey;
        align-content: center;
        @include screen-usual {
            font-size: 1.7em;
        }
        @include screen-device {
            font-size: 1.4em;
        }
        @include screen-xxl {
            font-size: $card-fontsize * 1.5;
        }
    }
    & > input {     
        background: $soft-grey;
        text-align: center;
        line-height: 5.5vh;
        font-size: 1.2em;
        border: none;
        &::placeholder {
            color: $dark-grey;  
        }
        &:focus {
            outline: $dark-grey;
        }
        @include screen-usual {
            font-size: 1.7em;
        }
        @include screen-device {
            font-size: $card-fontsize;
        }
        @include screen-xxl {
            font-size: $card-fontsize * 1.5;
        }
    }
}
H1 {
    font-weight: bold;
    font-size: 2.2em;
    margin-bottom: $margin-size / 2;
    @include screen-xxl {
        font-size: 3em;
    }
}
.btn-confirm {
    @include screen-xxl {
        width: 350px;
        height: 80px;
        line-height: 80px;
        font-size: 1.7em;
    }
}

// -- wiki and restaurant part
@mixin desktop-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#container {
    @include screen-tablet {
        @include desktop-flex;
    }
    @include screen-usual {
        @include desktop-flex;
    }
    @include screen-max {
        @include desktop-flex;
    }
    @include screen-xxl {
        @include desktop-flex;
    }
}

//-- wiki part
#user-wiki {
    @include flex-column;
    height: auto;
    margin-bottom: $margin-size;
    h2 {
        font-size: 1.5em;
        margin-top: 45px;
        margin-bottom: 10px;
        margin-left: 15px;
        @include screen-tablet {
            margin-bottom: $margin-size * 6;
        }
        @include screen-usual {
            margin-bottom: $margin-size * 7;
        }
        @include screen-max {
            margin-bottom: $margin-size * 7;
        }
        @include screen-xxl {
            margin-bottom: $margin-size * 4;
            font-size: 2em;
        }
    }
    ul { 
        align-self: center; 
        margin: 0;
        padding-left: 0;
        @include screen-tablet {
            margin-left: $margin-size * 4;
        }
        @include screen-usual {
            margin-left: $margin-size * 3;
        }  
        @include screen-max {
            margin-left: $margin-size * 2;
        }
        @include screen-xxl {
            margin-left: $margin-size * 10;
        }

    }
    @include screen-usual {
        align-self: flex-start;
        margin-left: $margin-size * 2;
        margin-right: $margin-size * 4;
    }  
}

//-- Restaurant part
// --local mixin 
@mixin restaurant-background {
    margin-bottom: $margin-size * 5;
    padding-bottom: $margin-size * 3;
    margin-top: $margin-size * 2;
}
// --
#restaurants {
    background-color: $soft-grey;
    @include flex-column;
    height: auto;
    width: auto;
    h2 {
        margin-left: $margin-size * 1.5;
        font-size: 1.5em;
        @include screen-xxl {
            font-size: 2em;
        }
    }
    @include screen-device {
        @include restaurant-background;
    }
    @include screen-tablet {
        align-self: flex-end;
        border-radius: $size-radius;
        @include restaurant-background;
    }
    @include screen-usual {
        align-self: flex-end;
        border-radius: $size-radius;
        width: $restaurant-width * 2;
        @include restaurant-background;
    }
    @include screen-max {
        align-self: flex-end;
        border-radius: $size-radius;
        width: $restaurant-width * 2.2;
        @include restaurant-background;
    } 
    @include screen-xxl {
        align-self: flex-end;
        border-radius: $size-radius;
        width: $restaurant-width * 4;
        @include restaurant-background;
    }    
}

#restaurant {
    display: flex;
    flex-direction: column;
    margin-bottom: $margin-size * 2;
    a {
        margin-top: $margin-size;
        margin-bottom: $margin-size;
        align-self: center;
    }
    @mixin cards-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        padding-left: $margin-size * 2;
        padding-right: $margin-size * 2;
    }
    @include screen-device {
        @include cards-flex;
        width: auto;
    }
    @include screen-tablet {
        @include cards-flex;
        width: 600px;
    }
    @include screen-usual {
        @include cards-flex;
        width: 650px;
    }
    @include screen-max {
        @include cards-flex;
    }
    @include screen-xxl {
        @include cards-flex;

    }
}