// WIKI part
.card {
    &__list:hover {
        background: $primary-shade;
        i {
            color: $primary;
        }    
    }
// Menu card part

    &__choice:active {
        h4 {
            width: 420px;
            @include screen-xxl {
                width: 350px;
            }
            animation: txt-ellips 1s both;
        }
        p {
            width: 400px;
            @include screen-xxl {
                width: 370px;
            }
            animation: txt-ellips 1s both;
        }
        
        .checked {
            animation: btn-check 1s both;
        }
        & i {
            font-size: 2em;
            animation: rotation 1s linear;
        }
        span {
            animation: translate 1s both;
        }
    }    
}

// --keyframes 

@keyframes btn-check {
    0% {
        position:absolute;
        right: 0;
        padding: 0px;
        color: white;
        height: 68px;
        width: 0px;
       
    }
    100% {
        position:absolute;
        font-size: 1.6em;
        right: 0;
        color: white;
        background-color: $tertiary;
        opacity: 1; 
        height: 68px; 
        width: 70px;
    }
}
@include screen-xxl {
    @keyframes btn-check {
        0% {
            position:absolute;
            right: 0;
            padding: 0px;
            height: 150px;
            width: 0px;
        }
        100% {
            position:absolute;
            font-size: 1.6em;
            right: 0;
            color: white;
            background-color: $tertiary;
            opacity: 1;
            height: 150px; 
            width: 150px; 
        }
    }
}

@keyframes rotation {
    0%{
        transform: rotate(0);
    } 
    50% {
        transform: rotate(180deg);
    } 
    100% {
        transform: rotate(360deg);
    }
}

@keyframes translate {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-60px);
    }
}
@include screen-xxl {
    @keyframes translate {
        0% {
            transform: translateX(0px);
        }
        100% {
            transform: translateX(-150px);
        }
    }
}

@keyframes txt-ellips {
    0% {
        text-overflow: unset;
        white-space: nowrap;
        overflow: hidden;
        opacity: .8;
    }
    100% {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        opacity: .8;
    }
}