//  menu animation, one by one
// local mixin

@mixin animation-appear($second) {
    animation: appear-delay $second ease-in-out;
}
//  menu part

.start {
    h3 {
        @include animation-appear(1s);
    }
    ul > :nth-child(1) {
        @include animation-appear(1.5s);
    }    
    ul > :nth-child(2) {
        @include animation-appear(2s);
    }
    ul > :nth-child(3) {
        @include animation-appear(2.5s);
    }
    ul > :nth-child(4) {
        @include animation-appear(3s);
    }
}
.main {
    h3 {
        @include animation-appear(3.5s);
    }
    ul > :nth-child(1) {
        @include animation-appear(4s);
    }
    ul > :nth-child(2) {
        @include animation-appear(4.5s);
    }
    ul > :nth-child(3) {
        @include animation-appear(5s);
    }    
}

.dessert {
    h3 {
        @include animation-appear(6s);
    }
    ul > :nth-child(1) {
        @include animation-appear(6.5s);
    }
    ul > :nth-child(2) {
        @include animation-appear(7s);
    }
    ul > :nth-child(3) {
        @include animation-appear(7.5s);
    }
}

// --keyframes
@keyframes appear-delay {
    from {
        opacity: .01;
    }
    to {
        opacity: 1;
    }
}