//  --heart icon on index and menu

// --local mixin
@mixin heart-shadow($secondary, $primary) {
   background: linear-gradient(to bottom, $secondary, $primary);
}

@mixin check-colored {
   .far {
      animation: heart-opacity 1.3s reverse both; 
   }
   .fas {
      animation: heart-opacity 1.3s both;
      background: $primary;
      @include heart-shadow($secondary, $primary);   
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
   }
}
// --heart selected part
.heart {
   cursor: pointer;
   &:active {
      @include check-colored; 
   }
   @include screen-usual {
      &:hover {
         @include check-colored;  
      }
   }
   @include screen-max {
      &:hover {
         @include check-colored;
      }
   }
}

// --keyframes 
@keyframes heart-opacity {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}