// --loader part
//  -- local mixin
@mixin screen-responsive($load-width, $load-height, $load-line, $load-font_size) {
    width: $load-width;
    height: $load-height;
    line-height: $load-line;
    font-size: $load-font_size;
}

@mixin load-color($load-color, $load-font_weight, $load-opacity, $load-border, $load-index) {
        color: $load-color;
        font-family: $shrikland;
        opacity: $load-opacity;
        border: $load-border;
        z-index: $load-index;
        font-weight: $load-font_weight;
}
//

.loader {
    position: fixed;
    margin: auto;
    top: 50%;
    bottom: 50%;
    @include screen-responsive(150px, 150px, 150px, 2.5em);
    border-radius: 50%;
    z-index: -1;
    opacity: 0;
    animation: loading 3.5s .2s backwards;
    transform-origin: center;
    text-align: center;
    
    @include screen-device {
        @include screen-responsive(200px, 200px, 200px, 4em);
    }
    @include screen-tablet {
        @include screen-responsive(300px, 300px, 300px, 6em);
    }
    @include screen-usual {
        @include screen-responsive(300px, 300px, 300px, 6em);
    }
}

// --main part 
.blurpart {
    opacity: 1;
    animation: blurring 3.8s;
}

// -- keyframes : loading & Blurring
@keyframes loading {
    0% {
        @include load-color(transparent, light, .1, 2.5px solid transparent, 1);
    }
        
    8% {
        @include load-color($soft-grey, light, .4, 2px solid white, 1);
    }
    35% {
        @include load-color($soft-grey, normal, .6, 2px solid $primary, 1);
    }
    
    65% {
        @include load-color($primary, normal, .8, 2px solid $secondary, 1);
    }

    85% {
        @include load-color($secondary, bold, 1, 2px solid $tertiary, 1);
    }
    95% {
        @include load-color($tertiary, bold, 1, 2px solid $tertiary, 1);    
    }
    100% {
        @include load-color($tertiary, bolder, 1, 2px solid $tertiary, 1);
    }
}

@keyframes blurring {
    0% {
        opacity: .6;
        filter: blur(2px);   
    }
    24% {
        opacity: .6;
        filter: blur(4px);
    }
    78% {
        opacity: .8;
        filter: blur(2px);
    }
    100% {
        opacity: .9;
        filter: blur(1px);
    }
}