// **body & main part**
@mixin flex-column {
    display: flex;
    flex-direction: column;
    margin: 0;
}

//  Media queries 
// --mobile
@mixin screen-min {
    @media screen  and (max-width: #{$screen-min}) {
        @content;
    }
}
@mixin screen-device {
    @media screen and (min-width: #{$screen-phablet}) and (max-width: 1023px) {
        @content;  
    }
}
//  --desktop part
@mixin desktop {
    margin: $margin-size * 4;
}
@mixin screen-tablet {
    @media screen  and (width: #{$screen-tablet}) {
        @content;
    }
}
@mixin screen-usual {
    @media screen and (min-width: #{$screen-tablet +1}) and (max-width: 1439px) {
            @content;  
    } 
}
@mixin screen-max {
    @media screen and (min-width: #{$screen-desktop}) and (max-width: 1799px) {
        @content;
    }
}

@mixin screen-xxl {
    @media screen and (min-width: #{$screen-hight})  {
        @content;
    }
    
}